openapi: 3.1.0
info:
  title: domains
  version: 1.0.0

servers:
  - url: https://api.sensors.wiki
    description: Main (production) server

paths:
  #####################
  # domain operations #
  #####################

  # get all domains
  /domains/all:
    get:
      summary: Get all domains
      description: Retrieves all domains that are registered
      tags:
        - domains
      operationId: get-all-domains
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: 
                      type: integer
                      description: the id of the domain
                    slug:
                      type: string
                      description: the slug of the domain
                    phenomenon:
                      type: array
                      items:
                        type: object
                        description: |
                          phenomena that belong to the given domain
                        properties:
                          id: 
                            type: integer
                            description: the id of the phenomenon
                          slug:
                            type: string
                            description: the slug of the phenomenon
                          validation:
                            type: boolean
                            description: |
                              boolean that is true if the information is validated by an admin
                          labelId:
                            type: integer
                            description: |
                              unique identifier of the translation of the label
                          descriptionId:
                            type: integer
                            description: |
                              unique identifier of the translation of the description
                          markdownId:
                            type: integer
                            description: |
                              unique identifier of the markdown text
                    label:
                      type: object
                      properties:
                        item:
                          type: array
                          items:
                            type: object
                            properties:
                              languageCode:
                                type: string
                                description: |
                                  languageCode for the language of the label. e.g. `en`, `de`,...
                              text:
                                type: string
                                description: |
                                  the label text
                              translationId:
                                type: integer
                                description: |
                                  unique identifier of the translation item
                    description: 
                      type: object
                      properties:
                        item:
                          type: array
                          items:
                            type: object
                            properties:
                              languageCode:
                                type: string
                                description: |
                                  languageCode for the language of the description. e.g. `en`, `de`,...
                              text:
                                type: string
                                description: |
                                  the description text
                              translationId:
                                type: integer
                                description: |
                                  unique identifier of the translation item
                    validation:
                      type: boolean
                      description: |
                        boolean that is true if the information is validated by an admin


  # get device by iri
  /domains/domain/{iri}:
    get:
      parameters:
      - name: iri
        in: path
        required: true
        schema:
          type: string
      summary: Get a single domain by its id or slug
      tags:
        - domain
      operationId: get-single-domain
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: 
                    type: integer
                    description: the id of the domain
                  slug:
                    type: string
                    description: the slug of the domain
                  label:
                    type: object
                    properties:
                      item:
                        type: array
                        items:
                          type: object
                          properties:
                            languageCode:
                              type: string
                              description: |
                                languageCode for the language of the label. e.g. `en`, `de`,...
                            text:
                              type: string
                              description: |
                                the label text
                            translationId:
                              type: integer
                              description: |
                                unique identifier of the translation item
                  description: 
                    type: object
                    properties:
                      item:
                        type: array
                        items:
                          type: object
                          properties:
                            languageCode:
                              type: string
                              description: |
                                languageCode for the language of the description. e.g. `en`, `de`,...
                            text:
                              type: string
                              description: |
                                the description text
                            translationId:
                              type: integer
                              description: |
                                unique identifier of the translation item
                  phenomenon:
                    type: array
                    description: |
                      all phenomena that are linked to the retrieved domain
                    items:
                      type: object
                      properties:
                        id: 
                          type: integer
                          description: the id of the phenomenon
                        slug:
                          type: string
                          description: the slug of the phenomenon
                        label:
                          type: object
                          properties:
                            item:
                              type: array
                              items:
                                type: object
                                properties:
                                  languageCode:
                                    type: string
                                    description: |
                                      languageCode for the language of the label. e.g. `en`, `de`,...
                                  text:
                                    type: string
                                    description: |
                                      the label text
                                  translationId:
                                    type: integer
                                    description: |
                                      unique identifier of the translation item
                        validation:
                          type: boolean
                          description: |
                            boolean that is true if the information is validated by an admin
                  validation:
                    type: boolean
                    description: |
                      boolean that is true if the information is validated by an admin