openapi: 3.1.0
info:
  title: domains
  version: 1.0.0

servers:
  - url: https://api.sensors.wiki
    description: Main (production) server

paths:
  #####################
  # domain operations #
  #####################

  # get all domains
  /domains:
    get:
      summary: Get all domains
      description: Retrieves all domains that are registered
      tags:
        - domains
      operationId: get-all-domains
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: 
                      type: integer
                      description: the id of the domain
                    slug:
                      type: string
                      description: the slug of the domain
                    phenomenon:
                      type: array
                      items:
                        type: object
                        description: |
                          phenomena that belong to the given domain
                        properties:
                          id: 
                            type: integer
                            description: the id of the phenomenon
                          slug:
                            type: string
                            description: the slug of the phenomenon
                          validation:
                            type: boolean
                            description: |
                              boolean that is true if the information is validated by an admin
                          labelId:
                            type: integer
                            description: |
                              unique identifier of the translation of the label
                          descriptionId:
                            type: integer
                            description: |
                              unique identifier of the translation of the description
                          markdownId:
                            type: integer
                            description: |
                              unique identifier of the markdown text
                    label:
                      type: object
                      properties:
                        item:
                          type: array
                          items:
                            type: object
                            properties:
                              languageCode:
                                type: string
                                description: |
                                  languageCode for the language of the label. e.g. `en`, `de`,...
                              text:
                                type: string
                                description: |
                                  the label text
                              translationId:
                                type: integer
                                description: |
                                  unique identifier of the translation item
                    description: 
                      type: object
                      properties:
                        item:
                          type: array
                          items:
                            type: object
                            properties:
                              languageCode:
                                type: string
                                description: |
                                  languageCode for the language of the description. e.g. `en`, `de`,...
                              text:
                                type: string
                                description: |
                                  the description text
                              translationId:
                                type: integer
                                description: |
                                  unique identifier of the translation item
                    validation:
                      type: boolean
                      description: |
                        boolean that is true if the information is validated by an admin


  # get domain by its iri
  /domains/{iri}:
    get:
      parameters:
      - name: iri
        in: path
        required: true
        schema:
          type: integer or string
      summary: Get a single domain
      tags:
        - domains
      operationId: get-single-domain
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: 
                    type: integer
                    description: the id of the domain
                  slug:
                    type: string
                    description: the slug of the domain
                  label:
                    type: object
                    properties:
                      item:
                        type: array
                        items:
                          type: object
                          properties:
                            languageCode:
                              type: string
                              description: |
                                languageCode for the language of the label. e.g. `en`, `de`,...
                            text:
                              type: string
                              description: |
                                the label text
                            translationId:
                              type: integer
                              description: |
                                unique identifier of the translation item
                  description: 
                    type: object
                    properties:
                      item:
                        type: array
                        items:
                          type: object
                          properties:
                            languageCode:
                              type: string
                              description: |
                                languageCode for the language of the description. e.g. `en`, `de`,...
                            text:
                              type: string
                              description: |
                                the description text
                            translationId:
                              type: integer
                              description: |
                                unique identifier of the translation item
                  phenomenon:
                    type: array
                    description: |
                      all phenomena that are linked to the retrieved domain
                    items:
                      type: object
                      properties:
                        id: 
                          type: integer
                          description: the id of the phenomenon
                        slug:
                          type: string
                          description: the slug of the phenomenon
                        label:
                          type: object
                          properties:
                            item:
                              type: array
                              items:
                                type: object
                                properties:
                                  languageCode:
                                    type: string
                                    description: |
                                      languageCode for the language of the label. e.g. `en`, `de`,...
                                  text:
                                    type: string
                                    description: |
                                      the label text
                                  translationId:
                                    type: integer
                                    description: |
                                      unique identifier of the translation item
                        validation:
                          type: boolean
                          description: |
                            boolean that is true if the information is validated by an admin
                  validation:
                    type: boolean
                    description: |
                      boolean that is true if the information is validated by an admin


  # create a domain
  /domains/create:
    post:
      summary: Create a new domain
      description: Creates a new domain from the information given in the requestBody
      tags:
        - domains
      operationId: create-new-domain
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
          description: |
            Token retrieved from the opensensemap API LogIn
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: |
                domain object that should be created
              properties:
                label:
                  type: array
                  description: |
                    array with label objects in different languages specified for the domain
                  items:
                    type: object
                    properties:
                      value:
                        type: string
                        description: |
                          the label text itself
                      lang:
                        type: string
                        description: |
                          languageCode for the language of the lebel. e.g. `en`, `de`,...
                description:
                  type: object
                  properties:
                    text:
                      type: string
                      description: |
                        the description text
                phenomenon:
                  type: array
                  description: |
                    array with the phenomena to connect to the domain
                  items:
                    type: object
                    properties:
                      phenomenon:
                        type: integer
                        description: |
                          the id of the phenomenon to connect
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: |
                  plain domain object
                properties:
                  id:
                    type: integer
                    description: the id of the created domain
                  slug:
                    type: string
                    description: the slug of the created domain
                  validation:
                    type: boolean
                    description: |
                      boolean that is true if the information is validated by an admin
                  labelId:
                    type: integer
                    description: the id of the created translation item
                  descriptionId:
                    type: integer
                    description: the id of the created translation item


  # edit a domain
  /domains/edit:
    post:
      summary: Edit a domain
      description: Edits a specific domain by the information given in the requestBody
      tags:
        - domains
      operationId: edit-domain
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
          description: |
            Token retrieved from the opensensemap API LogIn
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: |
                domain object that should be edited
              properties:
                id:
                  type: integer
                  description: |
                    the id of the domain to edit
                description:
                  type: object
                  properties:
                    translationId:
                      type: integer
                      description: |
                        the translationId of the description item to edit
                    text:
                      type: string
                      description: |
                        the description text to edit
                label:
                  type: array
                  description: |
                    array with label objects in different languages specified for the domain to be edited
                  items:
                    type: object
                    properties:
                      translationId:
                        type: integer
                        description: |
                          the translationId of the domain to be edited, 'null' if it is a newly created label
                      value:
                        type: string
                        description: |
                          the label text itself
                      lang:
                        type: string
                        description: |
                          languageCode for the language of the label. e.g. `en`, `de`,...
                deletedLabels:
                  type: array
                  description: |
                    array containing all the label to be deleted from the sensor
                  items:
                    type: object
                    properties:
                      translationId:
                        type: integer
                        description: |
                          the translationId of the label to be deleted
                      value:
                        type: string
                        description: |
                          the label text itself
                      lang:
                        type: string
                        description: |
                          languageCode for the language of the label. e.g. `en`, `de`,...
                phenomenon:
                  type: array
                  description: |
                    array with the phenomena connected to the domain
                  items:
                    type: object
                    properties:
                      phenomenon:
                        type: integer
                        description: |
                          the id of the phenomenon to connect
                      exists:
                        type: boolean
                        description: |
                          'true' if it is an existing phenomenon connection, 'false' if it is a new phenomenon connection
                deletedPhenomena:
                  type: array
                  description: |
                    array with the phenomena to be disconnected from the domain
                  items:
                    type: object
                    properties:
                      phenomenon:
                        type: integer
                        description: |
                          the id of the phenomenon to disconnect
                      exists:
                        type: boolean
                        description: |
                          'true' if it is an existing phenomenon connection, 'false' if it is a new phenomenon connection
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: |
                  plain domain object
                properties:
                  id:
                    type: integer
                    description: the id of the created domain
                  slug:
                    type: string
                    description: the slug of the created domain
                  validation:
                    type: boolean
                    description: |
                      boolean that is true if the information is validated by an admin
                  labelId:
                    type: integer
                    description: the id of the created translation item
                  descriptionId:
                    type: integer
                    description: the id of the created translation item

  # delete a domain
  /domains/delete:
    post:
      summary: Delete a domain
      description: Delete a specific domain by its id
      tags:
        - domains
      operationId: delete-domain
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
          description: |
            Token retrieved from the opensensemap API LogIn
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: |
                domain object that should be delted
              properties:
                id:
                  type: integer
                  description: |
                    the id of the domain to delete
                phenomenon:
                  type: array
                  description: |
                    array with the phenomena connected to the domain to delete
                  items:
                    type: object
                    properties:
                      sensor:
                        type: integer
                        description: |
                          the id of the phenomenon to disconnect
                translationIds:
                  type: array
                  description: |
                    array with all the ids of the translationItems to be deleted, that belong to the domain
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  info:
                    type: string
                    description: |
                      info text that indicates if the deleting of the domain was successfull