openapi: 3.1.0
info:
  title: phenomena
  version: 1.0.0

servers:
  - url: https://api.sensors.wiki
    description: Main (production) server

paths:
  ########################
  # phenomena operations #
  ########################
  
  # get all phenomena
  /phenomena/all:
    get:
      summary: Get all phenomena
      description: Retrieves all phenomena that can be measured with the registered sensors
      tags:
        - phenomena
      operationId: get-all-phenomena
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: 
                      type: integer
                      description: the id of the phenomenon
                    slug:
                      type: string
                      description: the slug of the phenomenon
                    markdown:
                      type: object
                      properties:
                        item:
                          type: array
                          items:
                            type: object
                            properties:
                              languageCode:
                                type: string
                                description: |
                                  languageCode for the language of the markdown text. e.g. `en`, `de`,...
                              text:
                                type: string
                                description: |
                                  the markdown text
                              translationId:
                                type: integer
                                description: |
                                  unique identifier of the translation item
                    label:
                      type: object
                      properties:
                        item:
                          type: array
                          items:
                            type: object
                            properties:
                              languageCode:
                                type: string
                                description: |
                                  languageCode for the language of the markdown text. e.g. `en`, `de`,...
                              text:
                                type: string
                                description: |
                                  the label text
                              translationId:
                                type: integer
                                description: |
                                  unique identifier of the translation item
                    description: 
                      type: object
                      properties:
                        item:
                          type: array
                          items:
                            type: object
                            properties:
                              languageCode:
                                type: string
                                description: |
                                  languageCode for the language of the description text. e.g. `en`, `de`,...
                              text:
                                type: string
                                description: |
                                  the description text
                              translationId:
                                type: integer
                                description: |
                                  unique identifier of the translation item
                    validation:
                      type: boolean
                      description: |
                        boolean that is true if the information is validated by an admin

  # get phenomena by slug
  /phenomena/phenomenon/{iri}:
    get:
      parameters:
      - name: iri
        in: path
        required: true
        schema:
          type: string
      summary: Get a single phenomenon by its id or slug
      tags:
        - phenomenon
      operationId: get-single-phenomenon
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: 
                    type: integer
                    description: the id of the phenomenon
                  slug:
                    type: string
                    description: the slug of the phenomenon
                  label:
                    type: object
                    properties:
                      item:
                        type: array
                        items:
                          type: object
                          properties:
                            languageCode:
                              type: string
                              description: |
                                languageCode for the language of the markdown text. e.g. `en`, `de`,...
                            text:
                              type: string
                              description: |
                                the label text
                            translationId:
                              type: integer
                              description: |
                                unique identifier of the translation item
                  description: 
                    type: object
                    properties:
                      item:
                        type: array
                        items:
                          type: object
                          properties:
                            languageCode:
                              type: string
                              description: |
                                languageCode for the language of the description text. e.g. `en`, `de`,...
                            text:
                              type: string
                              description: |
                                the description text
                            translationId:
                              type: integer
                              description: |
                                unique identifier of the translation item
                  markdown:
                    type: object
                    properties:
                      item:
                        type: array
                        items:
                          type: object
                          properties:
                            languageCode:
                              type: string
                              description: |
                                languageCode for the language of the markdown text. e.g. `en`, `de`,...
                            text:
                              type: string
                              description: |
                                the markdown text
                            translationId:
                              type: integer
                              description: |
                                unique identifier of the translation item
                  validation:
                    type: boolean
                    description: |
                      boolean that is true if the information is validated by an admin
                  domains:
                    type: array
                    description: |
                      domain items that are linked to the phenomenon
                    items:
                      type: object
                      properties:
                        id: 
                          type: integer
                          description: the id of the domain
                        slug:
                          type: string
                          description: the slug of the domain
                        label:
                          type: object
                          properties:
                            item:
                              type: array
                              items:
                                type: object
                                properties:
                                  languageCode:
                                    type: string
                                    description: |
                                      languageCode for the language of the markdown text. e.g. `en`, `de`,...
                                  text:
                                    type: string
                                    description: |
                                      the label text
                                  translationId:
                                    type: integer
                                    description: |
                                      unique identifier of the translation item
                        validation:
                          type: boolean
                          description: |
                            boolean that is true if the information is validated by an admin
                  rov:
                    type: array
                    description: |
                      range of values that are connected to the phenomena
                    items:
                      type: object
                      properties:
                        id: 
                          type: integer
                          description: |
                            the id of the rov:
                        min:
                          type: integer
                          description: |
                            the minmum of the value range
                        max:
                          type: integer
                          description: |
                            the maximum of the value range
                        unit:
                          type: object
                          description: |
                            the unit of the associated value range
                          properties:
                            id: 
                              type: integer
                              description: the id of the unit
                            slug:
                              type: string
                              description: the slug of the unit
                            name:
                              type: string
                              description: |
                                the name of the unit
                            notation:
                              type: string
                              description: |
                                the notation of the unit
                            validation:
                              type: boolean
                              description: |
                                boolean that is true if the information is validated by an admin
                            descriptionId:
                              type: integer
                              description: |
                                the id of the description that belongs to the unit